body{
    background-color: rgb(27, 105, 86);
    color: white;
}

.hobbies {
    background-color: lightblue;
}
#header {
    display: flex;
    justify-content: space-between; 
}

#header-cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-cv-b {
    margin-top: 46em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-cv-c {
    margin-top: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-cv-h{
    margin-top: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
}




.navbar{
margin-right: 3em;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    margin-left: 3em ;
}

.navlinks li {
padding-left: 3em;
list-style: none;
}

.navlinks li a {
    color: white;
}

.navlinks .a-hobby {
    color: black;
}

.hobbies {
    color: black;
    
}

.myhobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-cv {
    margin-top: 55em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-hobbies {
    /* margin-top: 52em; */
    display: flex;
    justify-content: center;
    align-items: center;
}


